# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

end_of_line = lf
indent_size = 2
indent_style = space
max_line_length = 120

# Markdown files may use trailing whitespace for line breaks
[*.md]
trim_trailing_whitespace = false

[*.cs]
dotnet_diagnostic.IDE0005.severity = error
dotnet_diagnostic.IDE0028.severity = error
dotnet_analyzer_diagnostic.category-Design.severity = warning
dotnet_analyzer_diagnostic.category-Maintainability.severity = warning
dotnet_analyzer_diagnostic.category-Performance.severity = warning